<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox">
                <div class="columns pull-left">
                    <button type="button" class="btn  btn-primary" onclick="add()">
                        <i class="fa fa-plus hidden" aria-hidden="true"></i>添加
                    </button>
                </div>
                <div class="columns pull-right">
                    <button class="btn btn-success" onclick="reLoad()">查询</button>
                </div>
                <div class="columns pull-right col-md-2 nopadding">
                    <input id="searchName" type="text" class="form-control"
                           placeholder="姓名">
                </div>
                <table id="exampleTable">
                </table>

                <div class="columns pull-right">
                    <button class="btn btn-success" onclick="submittable()">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript">
    function removeRow(id){
        layer.confirm('确定要删除该主表数据与相关子表数据吗？', {
            btn : [ '确定', '取消' ]
        }, function() {
            $.ajax({
                url : "/mytest/removeTable",
                type : "post",
                data : {
                    'id' : id
                },
                success : function(r) {
                    if (r.code == 0) {
                        layer.msg(r.msg);
                        reLoad();
                    } else {
                        layer.msg(r.msg);
                    }
                }
            });
        })
    }
    function reLoad() {
        $('#exampleTable').bootstrapTable('refresh');
    }
    $(function() {
        load();
    });
    function edit(id) {
        layer.open({
            type : 2,
            title : '修改',
            maxmin : true,
            shadeClose : false,
            area : [ '1000px', '520px' ],
            content : '/mytest/editmastertable/' + id // iframe的url
        });
    }

    function add() {
        // iframe层
        layer.open({
            type : 2,
            title : '增加',
            maxmin : true,
            shadeClose : false, // 点击遮罩关闭层
            area : [ '1000px', '520px' ],
            content : '/mytest/addmastertable'
        });
    }
    function load() {
        $('#exampleTable').bootstrapTable(
            {
                method : 'get', // 服务器数据的请求方式 get or post
                url : "/mytest/masterlist", // /服务器数据的加载地址
                striped : true, // 设置为true会有隔行变色效果
                dataType : "json", // 服务器返回的数据类型
                singleSelect : false, // 设置为true将禁止多选
                pageSize : 10, // 如果设置了分页，每页数据条数
                pageNumber : 1, // 如果设置了分布，首页页码
                sidePagination : "server", // 设置在哪里进行分页
                pagination : true, // 设置为true会在底部显示分页条
                queryParams : function(params) {
                    return {
                        limit : params.limit,
                        offset : params.offset,
                        xname : $('#searchName').val(),
                    };
                },
                columns : [
                    {
                        field : 'id', // 列字段名
                        title : '序号', // 列标题
                    },
                    {
                        field : 'xname',
                        title : '姓名',
                    },
                    {
                        field : 'age',
                        title : '年龄',
                    },
                    {
                        field : 'deptName',
                        title : '部门名',
                    },
                    {
                        title : '操作',
                        field : 'id',
                        align : 'center',
                        formatter : function(value, row, index) {
                            var e = '<a  class="btn btn-primary btn-sm" href="#" mce_href="#" title="编辑" onclick="edit(\''
                                + row.id
                                + '\')"><i class="fa fa-edit "></i></a> ';
                            var d = '<a class="btn btn-warning btn-sm" href="#" title="删除"  mce_href="#" onclick="removeRow(\''+ row.id+'\')"><i class="fa fa-remove"></i></a> ';
                            return e + d;
                        }
                    } ]
            });
    }
</script>
</body>
</html>